*{
    background-color: bisque;
}


h1.Titre{
    text-align: center;
    font-family: fantasy;
    border: solid black;
    margin-left: 33%;
    margin-right: 33%;
    font-size: 199%;
}

input.panier {
    margin-left: 96%;
    margin-top: 1%;
}

h3{
    margin-left: 2%;
}

p.copyright{
    color:rgb(41, 40, 40);
    font-size: small;
    text-align: center;
}

ul.acceuil{
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-evenly;

}

input.acceuil{
    background-color: rgb(49, 48, 48);
    color: aliceblue;
}

input.acceuil:hover{
    transform: scale(1.3);
    transition: 0.6s all;
}

div.appercu {
    display:flex;
    list-style: none;
    font-size: 18px;
}

li.appercu{
    text-align: center;
}


img.appercu{
    display: flex;
    margin-top: 10%; 
    margin-left: 19%; 
}

#console-portable{
    max-width: 60%;
    height: auto;
}

#vieux-telephone{
    max-width: 60%;
    height: auto;
}

#cable-hdmi{
    max-width: 60%;
    height: auto;
}

#montre-connecte{
    max-width: 60%;
    height: auto;
}

img.appercu:hover{
    transform: scale(1.2);
    transition: 0.8s all;
}

ul.voir-plus {
    display: flex;
    margin: 2%;
    justify-content: center;
}

label {
    font-size: 120%;
}

input.idendification:hover {
    transform: scale(1.2);
    transition: 1.2s all;
}