*{
    background-color: bisque;
}

input.acceuil:hover {
    transform: scale(1.3);
    transition: 0.5s all;
}

input.Surprise:hover {
    transform: scale(1.3);
    transition: 0.5s all;
}

h2 {
    display: flex;
    justify-content: center;
}

input.acceuil{
    background-color: rgb(49, 48, 48);
    color: aliceblue;
}

ul.acceuil{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 5%;
    display: flex;
    justify-content: space-evenly;

}

p {
    display: flex;
    justify-content: center;
}

p.copyright{
    color:rgb(41, 40, 40);
    font-size: small;
    text-align: center;
}

div.Surprise {
    display: flex;
    justify-content: center;
    transform: scale(2.5);
    margin-top: 3%;
    margin-bottom: 3%;
}

input.Surprise {
    background-color: rgb(49, 48, 48);
    color: aliceblue;
}

div.pel {
    display: flex;
    justify-content: center;
}