*{
    background-color:bisque;
}
h2.titre {
    text-align: center;
    font-family: fantasy;
}

img.acheter {
    display: flex;
    max-width: 50%;
    height: auto;
    justify-content: space-evenly;
}

input.panier {
    margin-left: 96%;
    margin-top: 1%;
}

div.acheter {
    display:flex;
    list-style: none;
    align-items:center;
}

li {list-style: none;}

p.copyright{
    color:rgb(41, 40, 40);
    font-size: small;
    text-align: center;
}

ul.acceuil{
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-evenly;
}

input.acceuil{
    background-color: rgb(49, 48, 48);
    color: aliceblue;
}

input.acceuil:hover{
    transform: scale(1.3);
    transition: 0.5s all;
}

input.acheter{
    object-position: bottom;
    
}

#objet-achete{
    display: flex;
    justify-content: right;
    margin-right: 1%;
    font-style: italic;
}